<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cuestionario</title>

<!-- Cargo angular -->
<script type="text/javascript" src="resources/js/angular.min.js"></script>
<!-- Cargo mi doulo de preguntas -->
<!-- Es importante que esto vaya de segundo -->
<script type="text/javascript" src="resources/js/cuestionario.js"></script>

<!-- Cargo la hoja de estilo -->
<link type="text/css" rel="stylesheet" href="resources/css/estilo.css" />

</head>
<body ng-app="modCuestionario">
	<div ng-controller="contCuestionario">
		<div class="preguntas">
			<div ng-repeat="pregunta in preguntas" class="pregunta">
				<p class="estado-{{pregunta.estado}}"">{{pregunta.texto}}</p>
				<div ng-repeat="respuesta in pregunta.listaRespuestas" class="pregunta">
					<input type="radio" value="{{respuesta.id}}"
					name="pregunta{{pregunta.id}}"
					id="respuesta{{pregunta.id}}{{respuesta.id}}"
					ng-model="pregunta.respuestaUsuario" />
<!-- 					ng-change="validar(pregunta)"/> -->
					<label for="respuesta{{pregunta.id}}{{respuesta.id}}">
						{{respuesta.texto}}
					</label>
				</div>
			</div>
			<button ng-click="obtenerCalificacion()">Enviar Respuestas</button>
		</div>
		<div class="estadoUsuario {{estadoUsuario}}">
			<span>Has acertado {{respuestasCorrectas}} de {{preguntas.length}}</span>
		</div>
		
	</div>
</body>
</html>