<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
		
		<bean id="IngWebDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
			<property name="url" value="jdbc:mysql://localhost:3306/sebasBD"></property>
			<property name="username" value="root"></property>
			<property name="password" value="root"></property>
		</bean>
		<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
			<property name="dataSource" ref="IngWebDataSource"></property>
			<property name="mappingResources">
				<list>
					<value>co/edu/udea/dto/Ciudad.hbm.xml</value>
					<value>co/edu/udea/dto/Roles.hbm.xml</value>
					<value>co/edu/udea/dto/Usuario.hbm.xml</value>
					<value>co/edu/udea/dto/Cliente.hbm.xml</value>
					<value>co/edu/udea/dto/Direccion.hbm.xml</value>
				</list>
			</property>
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
					<prop key="hibernate.show_sql">true</prop>  <!-- Cambiar a false cuando el appp entre en modo de produccion -->
					<prop key="javax.persistence.validation.mode">none</prop>
				</props>
			</property>
		</bean>
		<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
			<property name="sessionFactory" ref="IngWebDataSource"></property>
			<property name="dataSource" ref="IngWebDataSource"></property>
		</bean>
</beans>